.top ul li{ 
list-style: none;
list-style-position: inside;
margin-left: 30rem;
display:flex;
align-items: center;
justify-content:space-between;
list-style-type: none;
margin: 0;
padding: 1rem;
overflow: hidden;
text-align: center;
float:right;
gap: 20px;
overflow: hidden;
justify-content: space-between;
box-shadow: 0 3px 5px rgba(0,0,0,0.1)
}
.top a{
   background-color:darkcyan; 
   color:darkolivegreen;
}
 .top ul li:hover{
    background-color: red;
}
@media screen and (max-width:600px){
    .mine a:not(:first-child){display:none;}
.mine a.icon{ float:right;
display:block;}}

@media screen and (max-width:600px){
    .mine.responsive{ position:relative;}
    .mine.responsive a.icon{
        position:absolute;
        right:0;
        top:0;
    }
    .mine.responsive a {
        float:none;
        display:block;
        text-align: left;
    }